examples/download_file.json
[{"id":"243a04d8.ab73cc","type":"bale receiver","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","saveDataDir":"","x":300,"y":300,"wires":[["c5cb2764.9b7df8","228e60d5.737b9"],[],[]]},{"id":"228e60d5.737b9","type":"bale downloader","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","saveDataDir":"/home/ahadi/","x":610,"y":280,"wires":[["afb53a78.7a5968"]]},{"id":"afb53a78.7a5968","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":240,"wires":[]},{"id":"c5cb2764.9b7df8","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":260,"wires":[]},{"id":"6f7e879e.f9e078","type":"bale bot","z":"","botname":"test4","user_ids":""}]