balered/examples/bale_to_email.json
[{"id":"918083d4.98c37","type":"bale receiver","z":"ceb29955.55b168","name":"","bot":"e7b88e7f.4b584","saveDataDir":"","x":170,"y":240,"wires":[["5ccce568.deb63c"],[],[]]},{"id":"e983be67.829f","type":"bale downloader","z":"ceb29955.55b168","name":"","bot":"e7b88e7f.4b584","saveDataDir":"/home/ahadi/","x":490,"y":260,"wires":[["1d024f4.a47acb1"]]},{"id":"1d024f4.a47acb1","type":"file in","z":"ceb29955.55b168","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":650,"y":260,"wires":[["5ea0716e.889f3"]]},{"id":"5ea0716e.889f3","type":"function","z":"ceb29955.55b168","name":"","func":"msg.to = \"your email\"\nmsg.topic = \"test balered\"\nmsg.description = msg.effective_msg._captionText\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["3e1d02c3.9cd4de"]]},{"id":"3e1d02c3.9cd4de","type":"e-mail","z":"ceb29955.55b168","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":970,"y":180,"wires":[]},{"id":"5ccce568.deb63c","type":"switch","z":"ceb29955.55b168","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"neq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["d3fe1a54.761558"],["e983be67.829f"]]},{"id":"d3fe1a54.761558","type":"function","z":"ceb29955.55b168","name":"","func":"msg.to = \"your email\"\nmsg.topic = \"test balered\"\nmsg.description = msg.content.caption\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["3e1d02c3.9cd4de"]]},{"id":"e7b88e7f.4b584","type":"bale bot","z":"","botname":"mybot","user_ids":""}]