balered/examples/echo.json
[{"id":"243a04d8.ab73cc","type":"bale receiver","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","saveDataDir":"","x":300,"y":300,"wires":[["d9b46dd4.a4113","c5cb2764.9b7df8"],[],[]]},{"id":"d9b46dd4.a4113","type":"bale sender","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","x":950,"y":280,"wires":[["396e9fed.4d4b1"]]},{"id":"c5cb2764.9b7df8","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":260,"wires":[]},{"id":"396e9fed.4d4b1","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":240,"wires":[]},{"id":"6f7e879e.f9e078","type":"bale bot","z":"","botname":"test4","user_ids":""}]