balered/examples/email_to_bale.json
[{"id":"f47c0372.07d95","type":"e-mail in","z":"ceb29955.55b168","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"300","x":330,"y":400,"wires":[["8e6d6eab.419b1"]]},{"id":"8e6d6eab.419b1","type":"function","z":"ceb29955.55b168","name":"","func":"emailmsg = \"topic=\" + msg.topic\nemailmsg += \"\\nfrom=\" + msg.from\nemailmsg += \"\\n\" + msg.payload\n\nmsg.payload={\"user_id\": \"user_id\",\n\"accessHash\":\"user_accessHash\",\n\"type\":\"text\",\n\"content\":{\"caption\":emailmsg}}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["9e286fc8.d456"]]},{"id":"9e286fc8.d456","type":"bale sender","z":"ceb29955.55b168","name":"","bot":"e7b88e7f.4b584","x":750,"y":400,"wires":[[]]},{"id":"e7b88e7f.4b584","type":"bale bot","z":"","botname":"mybot","user_ids":""}]