balered/examples/general_usage.json
[{"id":"42f51e42.a2ab8","type":"bale receiver","z":"ceb29955.55b168","name":"","bot":"7d9aca6.6bde234","saveDataDir":"","x":390,"y":200,"wires":[["ed56b36.7664d5","804aa89.41ef258","209088c1.3cd6a8"],["45e3364.aad19c8","ed56b36.7664d5"],[]]},{"id":"ed56b36.7664d5","type":"bale sender","z":"ceb29955.55b168","name":"","bot":"7d9aca6.6bde234","x":1060,"y":200,"wires":[["454dcd1d.0caaf4"]]},{"id":"804aa89.41ef258","type":"bale downloader","z":"ceb29955.55b168","name":"","bot":"7d9aca6.6bde234","saveDataDir":"/home/","x":660,"y":120,"wires":[["200e6cf4.36dd54"]]},{"id":"449c8685.55ec18","type":"bale uploader","z":"ceb29955.55b168","name":"","bot":"7d9aca6.6bde234","x":670,"y":480,"wires":[["962e267d.d26168","213a8ee5.d06652"]]},{"id":"ec06b341.516b7","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/file.txt\"}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["449c8685.55ec18"]]},{"id":"962e267d.d26168","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":440,"wires":[]},{"id":"c56c517e.c4869","type":"inject","z":"ceb29955.55b168","name":"send file","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":400,"wires":[["ec06b341.516b7"]]},{"id":"213a8ee5.d06652","type":"function","z":"ceb29955.55b168","name":"add user info","func":"msg.payload.user_id = \"user id\";\nmsg.payload.accessHash = \"user_accessHash\";\nmsg.payload.content.caption = \"salam\"     \nreturn msg;","outputs":1,"noerr":0,"x":880,"y":480,"wires":[["789fbb3a.198d44","ed56b36.7664d5"]]},{"id":"789fbb3a.198d44","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":440,"wires":[]},{"id":"200e6cf4.36dd54","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":80,"wires":[]},{"id":"a4dcf7f8.f53be8","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/music.mp3\"}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["449c8685.55ec18"]]},{"id":"e462ecc1.7c082","type":"inject","z":"ceb29955.55b168","name":"send music","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":460,"wires":[["a4dcf7f8.f53be8"]]},{"id":"209088c1.3cd6a8","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":160,"wires":[]},{"id":"79128d7c.480384","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/video.mp4\"}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["449c8685.55ec18"]]},{"id":"61f0c017.fb3b1","type":"inject","z":"ceb29955.55b168","name":"send video","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":580,"wires":[["79128d7c.480384"]]},{"id":"7ab299d7.1ba288","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/voice.ogg\"}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["449c8685.55ec18"]]},{"id":"cf3b67a9.232c38","type":"inject","z":"ceb29955.55b168","name":"send voice","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[["7ab299d7.1ba288"]]},{"id":"45e3364.aad19c8","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":240,"wires":[]},{"id":"454dcd1d.0caaf4","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":160,"wires":[]},{"id":"7d9aca6.6bde234","type":"bale bot","z":"","botname":"test4","user_ids":""}]