balered/examples/template_message.json
[{"id":"a4481a98.1a2a58","type":"bale receiver","z":"bbd91ba.6964ae8","name":"","bot":"2bd889ba.a1ca46","saveDataDir":"","x":230,"y":200,"wires":[["6eee04b0.fd258c"],[],[]]},{"id":"305ac465.159aec","type":"bale button","z":"bbd91ba.6964ae8","name":"","rules":[{"button_name":"good","button_value":"good","button_action":"1","t":"default"},{"button_name":"bad","button_value":"bad","button_action":"1","t":"default"}],"x":590,"y":200,"wires":[["8fc5f238.1f079"]]},{"id":"8fc5f238.1f079","type":"bale sender","z":"bbd91ba.6964ae8","name":"","bot":"2bd889ba.a1ca46","x":790,"y":200,"wires":[[]]},{"id":"6eee04b0.fd258c","type":"function","z":"bbd91ba.6964ae8","name":"","func":"msg.payload.content.caption = \"How are you?\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["305ac465.159aec"]]},{"id":"2bd889ba.a1ca46","type":"bale bot","z":"","botname":"test3","user_ids":""}]