balered/examples/upload_file.json
[{"id":"7dfaa6b6.3d88f8","type":"bale uploader","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","x":580,"y":580,"wires":[["d2ee7fff.66122","e89dda73.14dcf8"]]},{"id":"5d82c20d.85550c","type":"function","z":"c2588a4c.650608","name":"file address","func":"msg = {payload:{filename:\"/home/openfortivpn.conf\"}}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["7dfaa6b6.3d88f8"]]},{"id":"d2ee7fff.66122","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":540,"wires":[]},{"id":"1cd04806.5b3ac8","type":"inject","z":"c2588a4c.650608","name":"send file","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":500,"wires":[["5d82c20d.85550c"]]},{"id":"e89dda73.14dcf8","type":"function","z":"c2588a4c.650608","name":"add user info","func":"msg.payload.user_id = \"218628748\";\nmsg.payload.accessHash = \"151791991335185287\";\nmsg.payload.content.caption = \"salam\"     \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["f9354adc.819248","40ce95ba.5c9ddc"]]},{"id":"f9354adc.819248","type":"debug","z":"c2588a4c.650608","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":540,"wires":[]},{"id":"5e062dd0.6fb444","type":"function","z":"c2588a4c.650608","name":"file address","func":"msg = {payload:{filename:\"/home/music.mp3\"}}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["7dfaa6b6.3d88f8"]]},{"id":"14ecbbff.3caa44","type":"inject","z":"c2588a4c.650608","name":"send music","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["5e062dd0.6fb444"]]},{"id":"9e81dda8.d0e93","type":"function","z":"c2588a4c.650608","name":"file address","func":"msg = {payload:{filename:\"/home/video.mp4\"}}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["7dfaa6b6.3d88f8"]]},{"id":"ae7d83be.de475","type":"inject","z":"c2588a4c.650608","name":"send video","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":680,"wires":[["9e81dda8.d0e93"]]},{"id":"99480e51.09e12","type":"function","z":"c2588a4c.650608","name":"file address","func":"msg = {payload:{filename:\"/home/voice.ogg\"}}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["7dfaa6b6.3d88f8"]]},{"id":"3f91adcb.03e812","type":"inject","z":"c2588a4c.650608","name":"send voice","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":620,"wires":[["99480e51.09e12"]]},{"id":"40ce95ba.5c9ddc","type":"bale sender","z":"c2588a4c.650608","name":"","bot":"6f7e879e.f9e078","x":1010,"y":540,"wires":[[]]},{"id":"6f7e879e.f9e078","type":"bale bot","z":"","botname":"test4","user_ids":""}]