balered/examples/upload_file.json
[{"id":"89c8f710.ed6b38","type":"bale uploader","z":"ceb29955.55b168","name":"","bot":"43dc14e5.f0431c","x":600,"y":260,"wires":[["451df8ee.553bb8","f202a573.5918a8"]]},{"id":"ba183ae0.5f6038","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/file.txt\"}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["89c8f710.ed6b38"]]},{"id":"451df8ee.553bb8","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":220,"wires":[]},{"id":"ebaf5e4.6fd5fa","type":"inject","z":"ceb29955.55b168","name":"send file","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["ba183ae0.5f6038"]]},{"id":"f202a573.5918a8","type":"function","z":"ceb29955.55b168","name":"add user info","func":"msg.payload.user_id = \"user_id\";\nmsg.payload.accessHash = \"user_accessHash\";\nmsg.payload.content.caption = \"salam\"     \nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["2fee43a7.7cec5c","800b9f4c.6a09c"]]},{"id":"2fee43a7.7cec5c","type":"debug","z":"ceb29955.55b168","name":"print log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":220,"wires":[]},{"id":"856f2ab1.81d608","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/music.mp3\"}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["89c8f710.ed6b38"]]},{"id":"10c34b75.742ab5","type":"inject","z":"ceb29955.55b168","name":"send music","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["856f2ab1.81d608"]]},{"id":"9033920b.af3ea","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/video.mp4\"}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["89c8f710.ed6b38"]]},{"id":"a02c5410.b06de8","type":"inject","z":"ceb29955.55b168","name":"send video","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["9033920b.af3ea"]]},{"id":"ff4c6438.5f5d88","type":"function","z":"ceb29955.55b168","name":"file address","func":"msg = {filename:\"/home/voice.ogg\"}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["89c8f710.ed6b38"]]},{"id":"dab2e30b.cb467","type":"inject","z":"ceb29955.55b168","name":"send voice","topic":"send file","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["ff4c6438.5f5d88"]]},{"id":"800b9f4c.6a09c","type":"bale sender","z":"ceb29955.55b168","name":"","bot":"43dc14e5.f0431c","x":1030,"y":220,"wires":[[]]},{"id":"43dc14e5.f0431c","type":"bale bot","z":"","botname":"test4","user_ids":""}]